@keyframes object-rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    /* turn이라는 단위는 정확히 한 바퀴를 돌리라는 의미입니다. */
    transform: rotateY(1turn);
  }
}

@keyframes scene-rotate {
  0% {
    transform: rotateX(0) rotateZ(0);
  }
  100% {
    transform: rotateX(10deg) rotateZ(-20deg);
  }
}

body {
  width: 100vh;
  background-color: black;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  transform-style: preserve-3d;
  /* 나중에 회전 */
  animation: scene-rotate 10s linear infinite alternate;
  /* alternate 속성을 넣음으로써 무한히 회전하는 것 처럼 보임 */
}

.circle {
  font-size: 20px;
  font-weight: bold;
  /* 나중에 작성 */
  animation: object-rotate 20s linear infinite;
  transform-style: preserve-3d;
}
.circle .word {
  transform-style: preserve-3d;
  color: white;
}
.circle span {
  /* background-color: goldenrod; */
  position: absolute;
  transform: rotateY(calc(var(--char-index) * 10deg)) translateZ(500px);
}

.sun {
  font-size: 100px;
  border-radius: 100%;
}
